* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #9d93ab;
}
.app {
    width: 100%;;
    max-width: 640px;
    background-color: aliceblue;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
    box-shadow: 0 0 20px #8e8585;
}
h1{
    color: #4b1d8a;
    display: flex;
    font-size: 28px;
    margin-bottom: 48px;
    position: relative;
}
h1 img {
    width: 38px;
    position: absolute;
    right: 0;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove #ccc;
    outline-offset: 6px;
    border: none;
    border-radius: 20px;
    box-shadow :0 0 9px #928c8c;
    margin-bottom: 20px;
    
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}
input::placeholder {
    color: #4b1d8a;
}
button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background-color: rgb(126, 72, 110);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    margin: 1px;
}
ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-block: 10px;

}
ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(images/unchecked.png) ;
    background-size: cover;
    position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    background: #2e2727;
    color: rgb(254, 242, 239);
    border-radius: 50px;

}
ul li.checked::before {
    background: url(images/checked.png);
    background-size: cover;
    position: center;
}
ul li span {
    position:absolute;
    top: 10px;
    right: 0;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;

}

ul li.checked span {
    color: white;
}
ul li.checked span:hover{
    background: white;
    color: rgb(24, 23, 23);
}
ul li span:hover{
    background-color: black;
    color: white;
}